*.sh            eol=lf
*.ac            eol=lf
*.am            eol=lf
*.in            eol=lf
*.m4            eol=lf
missing         eol=lf
configure       eol=lf
install-sh      eol=lf
*.sln           eol=crlf
*.vcxproj*      eol=crlf
*.rc            eol=crlf
*.cmd           eol=crlf
*.txt           eol=crlf
*.loc           eol=crlf
*.sh            export-ignore
*.cmd           export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
*.creole        export-ignore

