*.aps
*.dep
*.exe
*.htm
*.idb
*.la
*.lib
*.lo
*.log
*.m4
*.mac
*.ncb
*.o
*.obj
*.opt
*.pc
*.pdb
*.plg
*.res
*.suo
*.swp
*.user
.deps
.libs
Debug
INSTALL
Makefile.in
Release
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
