*.a
*.aps
*.appx
*.db
*.db-shm
*.db-wal
*.dep
*.exe
*.htm
*.idb
*.ipch
*.la
*.lo
*.log
*.mac
*.mo
*.ncb
*.o
*.obj
*.opendb
*.opt
*.patch
*.pc
*.pdb
*.plg
*.res
*.sdf
*.suo
*.swp
*.tlog
*.user
*.opensdf
*.o_manifest
.deps
.libs
Makefile
arm
arm64
x86_32
x86_64
autom4te.cache
config.guess
./config.h
config.log
config.status
config.sub
cov-int
cov-int.zip
depcomp
embedded.loc
res/loc/pollock/.vs
res/loc/pollock/bin
res/loc/pollock/obj
rufus_files
stamp-h1
