*.a
*.aps
*.appx
*.appxupload
*.bak
*.db
*.db-shm
*.db-wal
*.dep
*.diff
*.dll
*.efi
*.exe
*.htm
*.idb
*.ipch
*.la
*.lib
*.lo
*.lock
*.log
*.mac
*.mo
*.mp4
*.ncb
*.nope
*.o
*.obj
*.old
*.opendb
*.opt
*.org
*.p7x
*.patch
*.pc
*.pdb
*.pdf
*.plg
*.res
*.sig
*.sdf
*.suo
*.swp
*.tlog
*.user
*.opensdf
*.o_manifest
.deps
.libs
Makefile
/arm
/arm64
/x64
/x86
autom4te.cache
config.guess
/config.h
config.log
config.status
config.sub
depcomp
embedded.loc
/res/loc/pollock/.vs
/res/loc/pollock/bin
/res/loc/pollock/obj
/rufus_files
stamp-h1
/.vs/rufus
