# indicate this is the root of the project
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
# Of course the following is broken in VS2017 release.
# Hopefully will be fixed with next update:
# https://developercommunity.visualstudio.com/content/problem/22922/editorconfig-support-interprets-charset-utf-8-as-u.html
#charset = utf-8
